.mcl-logo {
  float: right;
  padding: 5px;
  width: 150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: inline-flex;
  position: relative;
  bottom: 1.5rem;
  right: 2rem;

}

img.mcl-logo:hover {
    transform: scaleX(-1);
}